__pycache__
.vscode
instantaneous_flows/modified_code/*.o
instantaneous_flows/modified_code/*.mod
instantaneous_flows/modified_code/dipole_bound
instantaneous_flows/original_code/*.o
instantaneous_flows/original_code/*.mod
instantaneous_flows/original_code/dipole_bound

